<% layout('master') %>
<div class="bg-light p-5 rounded">
    <h1>@universis/docu-sign-worker</h1>
    <p class="lead">A proxy service for signing documents following cross-origin resource sharing</p>
</div>